@tailwind base;
@tailwind components;
@tailwind utilities;

.MuiList-root.MuiList-padding.MuiMenu-list {
  padding-top: 0;
  padding-bottom: 0;
}

.Mui-selected {
  background-color: #8b5cf6 !important;
}
